<configuration>
  <system.webServer>
  <httpErrors errorMode="Detailed" /> 
    <handlers>  
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified"/>
    </handlers>

    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <verbs applyToWebDAV="false">
          <add verb="*" allowed="true"/>
        </verbs>
        <hiddenSegments>
          <add segment="node_modules"/>
          <add segment="iisnode"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>